#about{
    margin-top: 100px;
}
.text-light{
    margin-bottom: -13px;
}
#about h2{
    color: var(--color-primary);
    margin-bottom: 80px;
}
.about__me{
    width: 220px;
    margin: auto;
    background: linear-gradient(45deg,transparent,var(--color-primary));
    border-radius: 2rem;
}
  .about__me img{
      width: inherit;
      height: inherit;
    border-radius: 2rem;
    border: 3px solid var(--color-primary);
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
  }
  .about__me img:hover {
    transform: rotate(0);
  }
  .about__cards-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.86rem;
  }
  
  .about__card{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1rem 0.6rem;
    text-align: center;
  }
  
  .about__card:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
  }
  
  .about-icon{
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  
  .about__card h5{
    font-size: 0.95rem;
  }
  
  .about__card small {
    font-size: 0.7rem;
    color: var(--color-light);
  }
  
  .about__content p{
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
  }
  