 a{
    display: inline-block;
    font-size: .8rem;
}
h2{
    margin-top: 10px;
    color: var(--color-primary);
    margin-bottom: 60px;
}
h4{
    margin-top: 15px;
}
h5{
    margin-top: -17px;
    margin-bottom: 15px;
}

input,textarea{
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    padding: 1rem;
    padding-right: 15rem;
    resize: none;
    color: var(--color-white);
    border-radius: .5rem;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 400;
}
button{
    margin-top: 15px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#contact{
    margin-top: 100px;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container{
    display: flex;
  flex-direction: column;
  margin-top: -20px;
  margin-right: 50px;
}
.card {
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width:100% ;
}
.icon{
    font-size: 1.5rem;
}

@media screen and (max-width: 500px){
    input,textarea{
        padding-right:8rem;
    }
    .container{
        margin: auto;
    }
}
@media screen and (max-width: 400px){
    input,textarea{
        padding-right:6rem;
    }
    .container{
        margin: auto;
    }
}

