<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Success.css">
</head>
<body>
    <div id="card">
        <div className="success">
        <h3>Thank you for leaving a comment. I hope to see you more often and do have a wonderful time <span role="img" aria-label="smiling">😄</span></h3>
        <a href="https://imaginative-pastelito-552212.netlify.app/?">Back to the site</a>
        </div>
    </div>
</body>
</html>