#top p{
    margin-bottom: -25px;
}
#top h5{
    margin-top: -25px;
    margin-bottom: 40px;
}
#top a{
    margin-right: 15px;
    text-decoration: none;
    margin-bottom: 40px;
    font-size: 1rem;
}
.img-content{
    width: 20rem;
    height: 20rem;
    background: linear-gradient(var(--color-primary),transparent);
    position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 3rem;
  /* border-radius: 12rem 12rem 0 0; */
  overflow: hidden;
  padding: 4.5rem 1.5rem 1.5rem 1.5rem;
}
.img-card{
    width: 15rem;
    height: 14rem;
    background: linear-gradient(var(--color-primary),transparent,var(--color-bg),transparent);
    position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -2rem;
  overflow: hidden;
  box-shadow:3px 3px 2px 1px var(--color-primary) inset;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}
.img-card img{
    margin-top: -35px;
}
.scroll{
    position: absolute;
    right: 5%;
    transform: translateX(-80%);
    bottom: 5%;
    transform: rotate(90deg);
}
@media screen and (max-width: 600px){
    #top h1{
        font-size: 2.3rem;
    }
    .img-content{
        width: 20rem;
        height: 17rem;
        padding-top: 4.4rem;
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .img-card{
        width: 14rem;
        height: 15rem;
        padding-top: 4.5rem;
    }
    .img-card img{
        width: 11.5rem;
    }
    .scroll{
        display: none;
    }
}