#socials{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:0;
    align-items: center;
    position: absolute;
    left: 10%;
    bottom: 7%;
    gap: .8rem;
    z-index: 1000;
    transform: translate(-50%,50%);
}
#socials a{ 
    font-size: 1.4rem;
    margin-bottom: 0;
}
#socials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary);
    margin-left: -15px;
}
@media screen and (max-width: 600px){
    #socials{
        display: inline;
        bottom: -20%;
        left: 10%;
        transform:translateX(50%);
    }
}