 #experience{
    margin-top: 40px;
    margin-bottom: 80px;
}
#experience  h2{
    margin-top: 0;
    color: var(--color-primary);
}
.experiences{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.dev,.soft-skills{
    background: var(--color-bg-variant);
  padding: 2.4rem 2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}
.dev:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.soft-skills:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;

}
.experience__content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: -40px;
}
.experience__details{
    display: flex;
}
.wrapper{
    display: flex;
    flex-direction: column;
    margin-top: -25px;
    margin-bottom: 25px;
    margin-left: 15px;
    text-align: left;
}

.wrapper small{
    display: block;
    margin-top: -15px;
    margin-bottom: 5px;
}

@media screen and (max-width: 510px){
    .dev,.soft-skills{
        width:min-content;
    }
    .soft-skills{
        padding: 2.4rem .5rem;
        padding-left: 1rem;
    }
    .experience__content{
        text-align: left;
    }
}