#experience{
    margin-top: 40px;
}
#experience  h2{
    margin-top: 0;
    color: var(--color-primary);
}
.experiences{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.dev{
    background: var(--color-bg-variant);
    padding: 3rem .5rem;
    border-radius: 40px;
}